<div class="navbar">
    <div id="logo">
        <a href="{{ path('app_home') }}"> FIND ROOM </a>
    </div>
    <nav>
        <a id="button_login" href="{{ path('app_login') }}">Login</a>
        <a id="button_register" href="{{ path('app_register') }}">Register</a>
    </nav>
</div>