<div class="admin-menu">
    <a class="menu-link" href="{{ path('admin_mobile_users_get') }}"><button type="button" class="btn {{  buttonMobileUsersActive is defined ? 'btn-primary' : 'btn-outline-primary'}}">Users</button></a>
    <a class="menu-link" href="{{ path('admin_mobile_reservations_new') }}"><button type="button" class="btn {{  buttonMobileNewReservationsActive is defined ? 'btn-primary' : 'btn-outline-primary'}}">New reservations</button></a>
</div>
