<div class="admin-menu">
    <a class="menu-link" href="{{ path('admin_rooms') }}"><button type="button" class="btn btn-outline-primary">Show all rooms</button></a>
    <a class="menu-link" href="{{ path('admin_room_add') }}"><button type="button" class="btn btn-outline-primary">Add new room</button></a>
    <a class="menu-link" href="{{ path('admin_offer_add') }}"><button type="button" class="btn btn-outline-primary">Add new offer</button></a>
    <a class="menu-link" href="{{ path('admin_users') }}"><button type="button" class="btn btn-outline-primary">Users</button></a>
</div>
