.content {
  display: flex;
  justify-content: center;
}

.form-width-limit {
  width: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border: 1px solid #cbcbcb;
  border-radius: 1rem;
  margin-top: 7rem;
}

.btn-primary {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  align-self: center;
}





